/* Background Wrapper */
.background-wrapper {
    background: url('../Images/museumhome1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Hero Section */
.hero {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Kodchasan', sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: bold;
}

/* Highlights Section */
.highlights {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    background-color: rgba(245, 234, 205, 0.9);
    gap: 20px;
}

.highlight-box {
    width: 300px;
    height: 200px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    color: #fff;
}

.highlight-box a {
    color: #fff;
    text-decoration: none;
}

.highlight-box a:hover {
    color: #ddd;
}

/* Individual Box Colors */
.exhibits {
    background-color: #334F77;
    border: 2px solid #5377AA;
}

.events {
    background-color: #47837A;
    border: 2px solid #5C928A;
}

.involved {
    background-color: #BB7541;
    border: 2px solid #C08C66;
}

.highlight-box:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
}


@media (max-width: 1024px) {
    .highlights {
        flex-wrap: wrap; 
        justify-content: center;
    }

    .highlight-box {
        width: 250px; 
        height: 180px;
        font-size: 1rem;
    }

    .hero-content {
        font-size: 2.5rem; 
    }
}

@media (max-width: 768px) {

    .hero {
        height: 400px; 
    }

    .hero-content {
        top: auto; 
        bottom: 10%; 
        transform: translateX(-50%); 
        font-size: 1.8rem; 
        line-height: 1.3;
    }
    /* Stack Highlights Vertically for Mobile */
    .highlights {
        flex-direction: column;
        gap: 20px;
    }

    .highlight-box {
        width: 90%; 
        height: 150px;
        font-size: 0.9rem; 
    }
}

