/* General Page Styles */
body {
    font-family: 'Kodchasan', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #F5EACD;
    object-fit: cover;
}

.header-line {
    width: calc(100% - 140px);
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 140px;
    z-index: 1;
}

/* Privacy Page Styles */
.privacy-page {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    text-align: center; 
    padding: 20px;
    position: relative;
    z-index: 1;
    background-image: url('../Images/InformationPoint_38_11zon.webp'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; 
}

.privacy-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 234, 205, 0.8); 
    z-index: -1;
}

/* Content Container */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    max-width: 800px; 
    box-sizing: border-box;
}

/* Privacy Text Styles */
.privacy-text {
    text-align: left; 
    font-weight: bold;
}

.privacy-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.privacy-text h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: black;
}

.privacy-text p,
.privacy-text ul {
    margin-bottom: 20px;
    color: black;
}

/* Footer */
.footer {
    position: relative;
    background-color: #F5EACD;
    text-align: center;
    padding: 10px 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    color: black;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
}

/*Page Specific Responsive Design */

@media (max-width: 1024px) {
    .content-container {
        padding: 20px;
    }

    .privacy-title {
        font-size: 2.5rem; 
    }
}

@media (max-width: 768px) {
    .content-container {
        padding: 15px;
    }

    .privacy-title {
        font-size: 2rem; 
    }

    .privacy-text h2 {
        font-size: 1.6rem; 
    }

    .privacy-text p,
    .privacy-text ul {
        font-size: 1rem; 
    }

    .footer {
        font-size: 0.75rem; 
    }
}
