/* General Page Styles */
body {
    font-family: 'Kodchasan', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #F5EACD;
}

/* Header Line */
.header-line {
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* Navbar and Logo */
.navbar {
    position: relative;
}

.logo {
    position: relative;
    z-index: 10;
}

/* Content Layout */
.privacy-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    display: flex;
    position: relative;
    min-height: 100vh; 
    align-items: flex-start;
    justify-content: space-between; 
    padding: 40px;
    box-sizing: border-box; 
}

.privacy-text {
    flex: 1;
    max-width: 60%;
    padding-right: 20px;
}

.privacy-title {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.privacy-text h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: black;
}

.privacy-text p, .privacy-text ul {
    margin-bottom: 20px;
    color: #333;
}

.image-container {
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 30%; 
    height: 100%; 
}

/* Image Styling */
.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

/* Footer */
.footer {
    position: relative;
    background-color: #F5EACD;
    text-align: center;
    padding: 10px 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #333;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
}
